*{
    color:   #2a2d46;
}

nav ul{
    list-style-type: none;
    margin-left: -35px;
}

nav li{
    display: inline;
    font-size: 1.4em;
    margin-inline: 7px;
}

nav{
    display: flex;
    justify-content: center;
    color: rgb(95, 84, 92);
    background-color: rgb(255, 255, 255);
    margin-bottom: 3rem;
    border-bottom: 1px solid rgb(255, 222, 73);
    
}

.questions, .pronouns{
    margin: 2rem auto;
    font-size: 1.5em;
    padding: 20px;
    flex-direction: column;
    text-align: center;
    display: flex;
    width: 300px;
    z-index: 1;
    justify-content: center;
}

.pronouns{
    color: rgb(197, 153, 214);
    border: 2px dotted rgb(255, 222, 73);
    margin-bottom: -1rem;
}

.services{
    font-size: 1.5em;
    display: flex;
    text-align: center;
    flex-direction: column;
    line-height: 3rem;
    list-style-type: none;
    color: hotpink;
    margin-left: -3rem;
}

#bubblediv{
    
    border-radius: 50px;
    display: flex;
    padding: 20px;
    height: 400px;
    justify-content: center;
    margin-bottom: -26em;

}

#yes{
    margin-top: 2rem;
}

h1{
    display: flex;
    background-color: rgb(197, 153, 214);
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 35px;
    font-size: 1.5em;
    border-radius: 80px;
    margin-bottom: 1rem;

}

header{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    margin-bottom: 1rem;
}

.socialsdiv{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0.5rem;
}

.socials{
    height: 50px;
    margin: 0.5rem;
}

#discord{
    filter: hue-rotate(40deg) brightness(100%);

}

#email{
    width: 47px;
    height: 48px;
    filter: saturate(40%) hue-rotate(20deg) brightness(105%);
    
}
a{
    text-decoration: none;
    color:  #2a2d46;
}

h2{
    color: hotpink;
}

.leaders{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile{
    height: 150px;
    width: 150px;
    border-radius: 300px;
    border: 7px solid rgb(197, 153, 214);
    object-fit: cover;
}